* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

/* Primer div-box de tres */
.extern_box {
    background-color: black;
    max-width: 1200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}


/* Primer contenedor con log, nav y social */
.flex-container {
    margin: 20px;
    display: flex;
    background-color: grey;
    justify-content: space-evenly;
    
}

/* Contenedores internos dentro de primer contenedor */
.flex-container div {
    background-color: red;
    display: flex;
    line-height: 75px;
    text-align: center;
    margin: 10px;
    
}

/* A los contenedores dentro de div establesemos differentes proprciones con grow */
.box {
    display: flex;
    flex-basis: 100px;
    flex-grow: 1;
    
    
}

.first:hover{
    scale: 1.5;
    background-color: blue;
}

.box:nth-child(2) {
    flex-grow: 4;
    background-color: red;
}



.box.box.banner {
    background-color: yellow;
}

.flex-container.banner {
    background-color: orange;
}

.extern_box.segundo {
    background-color: black;
    display: flex;
    flex-direction: row; 
    

}

/* Establecemos cambios con de tamaño de pantalla a tablet */
@media (width < 767px) {
    .extern_box .flex-container  {
        flex-direction: column;
    }
    * {
        color: aliceblue;
    }
} 

@media (width < 767px) {
    .extern_box.segundo {
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        
    }

    .extern_box.segundo .left-col {
        width: auto;
    }

    .extern_box.segundo .right-col {
        width: auto;
    }
    
    
}

.left-col {
    background-color: burlywood;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-items:right;
    align-items: right;
    margin: 20px;

}

/* Cambio de pantalla a mobil */

@media (width < 400px) {
    .extern_box.segundo .left-col {
        flex-direction: column;
        flex-wrap: nowrap;
        width: auto;
        
    }
    * {
        color: brown;
    }
   
}



.right-col {
    background-color: red;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    

}

.article {
    background-color: blue;
    height: 3rem;
    align-content: center;
    width: 40%;
}

.article1 {
    width: 85%;
    background-color: aqua;
    height: 3rem;
    align-content: center;
}

.publicidad {
    background-color: blueviolet;
    width: 80%;
}


.extern_box.tercero div {
    background-color: yellow;
    text-align: center;
    height: 2rem;
    margin: 20px;
}