* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}


.extern_box {
    background-color: black;
    max-width: 1200px;
   /*  min-height: 300px; */
    padding: 5px;
    display: flex;
    flex-direction: column;
}



.flex-container {
    margin: 20px;
   /*  width: 100%; */
    display: flex;
    background-color: grey;
    
    justify-content: space-evenly;
    
}

.flex-container div {
    background-color: red;
    display: flex;
    line-height: 75px;
    text-align: center;
    margin: 10px;
    /* flex: auto; */
    font-size: 30px;
}


.box {
    display: flex;
    flex-basis: 100px;
    flex-grow: 1;
    
    
}

.box:nth-child(2) {
    flex-grow: 4;
    background-color: red;
}



.box.box.banner {
    background-color: yellow;
   /*  width: 100%; */
}

.flex-container.banner {
    background-color: orange;
}

.extern_box.segundo {
    background-color: black;
    display: flex;
    flex-direction: row;
    
    
    /* padding: 10px; */
    /* align-items: stretch; */
   
    

}


@media (width < 650px) {
    .extern_box .flex-container  {
        flex-direction: column;
    }
    * {
        color: aliceblue;
    }
} 

@media (width < 650px) {
    .extern_box.segundo {
        flex-direction: column;
        justify-content: space-evenly;
        
    }

    .extern_box.segundo .left-col {
        width: auto;
    }

    .extern_box.segundo .right-col {
        width: auto;
    }
    
    
}

.left-col {
    background-color: burlywood;
    width: 60%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-items:right;
    align-items: right;
    margin: 20px;

}

@media (width < 400px) {
    .extern_box.segundo .left-col {
        flex-direction: column;
        flex-wrap: nowrap;
        width: auto;
        
    }
    * {
        color: blueviolet;
    }
   
}



.right-col {
    background-color: red;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    

}

.article {
    background-color: blue;
    /* margin: 10px; */
    height: 3rem;
    align-content: center;
    width: 40%;

    /* padding: 5px; */
    

}

.article1 {
    width: 85%;
    background-color: aqua;
    height: 3rem;
    align-content: center;
}

.publicidad {
    background-color: blueviolet;
    width: 80%;
}


.extern_box.tercero div {
    background-color: yellow;
    text-align: center;
    height: 2rem;
}