// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
$color-principal: #5265E1;
$color-secundario: #FA5959;
$color-texto: green; 




h2 {
    color: green;
}
.nav-item {
   text-align: right;
}

#featureButton:hover{
    color: red;
}


.nav-link:hover {
    color: red;
}

.nav-link .active:hover {
    color: red;
}
.nav-item .btn:hover {
    color: red;
    background-color: white;
}

.features {
    width: 500px;
    
}

#featuresLabel {
    padding-bottom: 1rem;
}

.bookmark {
    align-items: center;
}

@media (width< 768px) {
    .bookmark {
        text-align: center;
    }

    .features {
        width: auto;
    }
}



