


@import "../node_modules/bootstrap/scss/bootstrap";


$color-principal: #5265E1;
$color-secundario: #FA5959;
$color-texto: green; 




h2 {
    color: green;
}

/* Styling navbar */

.nav-item {
   text-align: center;
}

.nav-link:hover {
    color: red;
}

.nav-item .btn:hover {
    color: red;
    background-color: white;
}

/* Alinacion de segundo bloque  */

.features {
    width: 50%;
    
}

#featuresLabel {
    padding-bottom: 1rem;
}

.bookmark {
    align-items: center;
}



/* Breakpoint para pantalla movil */

@media (width< 768px) {
    .bookmark {
        text-align: center;
    }

    .features {
        width: auto;
    }

    .collapse.navbar-collapse{
        background-color: rgb(19, 25, 81);
        color: white;

        
    }
    .nav-link {
        color: white;
        text-decoration: none;
    }

    .nav-item{
        border-bottom: white solid;
        font-size: 2rem;
        
    }

    .btn.btn-danger{
        border: none;
        background-color: rgb(19, 25, 81);
        color: white;
        font-size: 2rem;
    }

    .btn.btn-danger:hover{
        background-color: rgb(19, 25, 81);
    }

   
    .nav-links{
        border-top: solid grey;
        border-bottom:  solid grey;
        
    }

    

    .features.bookmark {
        
        
        align-self: center;
        
    }
    
    .card {
        width: auto;
        text-align: center;
        align-items: center;
        margin-bottom: 1rem;
        justify-content: center;
        padding: 1rem;
    }

   .row {
    justify-items: center;
   }
}

.features.bookmark {
    text-align: left;
    padding-left: 3rem;
}

.nav-links {
    text-align: center;
    border: none;
    gap: 5rem;
    font-size: 1.5rem;
    
    
}

.nav-links.active{
    border-bottom: #FA5959 solid;
}

.nav-links:hover{
    color: red;
}


.tab-content{
    align-items: center;
    text-align: center;
    width: auto;
   
    padding: 2rem;

}


nav.nav-underline {
    text-align: center;
    
}

/* Styling parte de Cards */

.card {
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;

}
.card-img-top{
    width: 100px;
    height: 100px;
    align-items: center;
}

.card .btn{
    background-color: $color-principal;
}

/* Fue intento de hacer cascada de cards Align-self y no ha funcionado */

#ChromeCard{
    align-self: flex-start;
}

#FirefoxCard{
    align-self: center;
}

#OperaCard {
    align-self: flex-end;
}

/* Accordeon */
.faqsButton{
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: auto;
    text-align: center;
}

.accordion-item{
    border: none;
    border-bottom: solid grey 1px;
}

.accordion-button:not(.collapsed){
    background-color: white; 
    box-shadow: none;
    
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button:hover{
    color: red;
}